.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

header.main-header {
  background-color: $darkGrey;
  padding: 30px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100vw;
  box-sizing: border-box;

  .logo {
    margin: 0;
    display: inline-block;

    @include md() {
      margin: 20px 15px 0 15px;
    }

    img {
      max-width: 185px;
      height: auto;
    }
  }

  nav {
    float: right;
    margin-right: 15px;
    display: none;

    @include md() {
      display: inline-block;
    }

    .nav {
      margin-top: 15px;
    }

    .menu-item a {
      padding: 10px 24px;
      color: #fff;
      text-decoration: none;
      position: relative;
      display: inline-block;
    }

    .menu-item {
      &.outline a {
        border: 2px solid $teal;
        padding: 10px 50px;
        overflow: hidden;
        font-weight: 600;
        position: relative;
        margin: 0 20px 0 30px;
        line-height: 22px;

        &::before {
          @include scale(0);

          content: '';
          position: absolute;
          top: 2px;
          left: 50%;
          margin-left: -25px;
          width: 50px;
          height: 50px;
          background-color: $teal;
          -webkit-border-radius: 50px;
          border-radius: 50px;

          @include transition(all 350ms);

          opacity: 0;
          z-index: -1;
        }

        &:hover {
          &::before {
            @include scale(6);

            opacity: 1;
          }
        }
      }
    }

    &::after {
      clear: both;
    }
  }
}

body {
  .menu-toggle {
    background-color: transparent;
    border: 0;
    position: relative;
    width: 20px;
    height: 25px;
    padding: 0;
    float: right;
    cursor: pointer;
    padding-top: 5px;
    margin-top: 5px;

    &:focus {
      outline: 0;
    }

    @include md() {
      display: none;
    }

    @include lg() {
      display: none;
    }

    span {
      width: 20px;
      height: 2px;
      background-color: #fff;
      margin-bottom: 5px;
      display: block;

      @include transition(all 250ms);
    }
  }

  &.mobile-menu-open {
    .menu-toggle {
      span {
        &:nth-child(1) {
          opacity: 0;
        }

        &:nth-child(2) {
          @include rotate(-45);

          margin: 0;
          position: relative;
          top: -2px;
        }

        &:nth-child(3) {
          @include rotate(45);

          margin: 0;
          position: relative;
          top: -4px;
        }
      }
    }
  }
}
