.mobile-menu {
  background-color: $darkGrey;
  position: fixed;
  top: 95px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 98;
  opacity: 0;
  margin-right: 10px;

  @include translate(-100vw,0);
  @include transition(all 350ms);

  .nav {
    li {
      display: block;
      padding: 10px;
      border-bottom: 1px solid #666;
      width: 100%;
      text-align: center;

      a {
        width: 100%;
        text-align: center;
        color: #fff;
      }
    }
  }
}

body {
  &.mobile-menu-open {
    .mobile-menu {
      @include translate(0,0);

      opacity: 1;
    }
  }
}
