@mixin animation ($delay, $duration, $animation, $direction: forward, $fillmode: fowards) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: $fillmode;
  -webkit-animation-direction: $direction;
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: $fillmode;
  -moz-animation-direction: $direction;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: $fillmode;
  animation-direction: $direction;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInSlideUp {
  0% {
    opacity: 0;

    @include translate(0, 25px);
  }

  100% {
    opacity: 1;

    @include translate(0,0);
  }
}

@-moz-keyframes fadeInSlideUp {
  0% {
    opacity: 0;

    @include translate(0, 25px);
  }

  100% {
    opacity: 1;

    @include translate(0,0);
  }
}

@-o-keyframes fadeInSlideUp {
  0% {
    opacity: 0;

    @include translate(0,25px);
  }

  100% {
    opacity: 1;

    @include translate(0,0);
  }
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;

    @include translate(0,25px);
  }

  100% {
    opacity: 1;

    @include translate(0,0);
  }
}
