.banner {
  background-color: $darkGrey;
  position: relative;
  max-width: 100%;

  @include sm {
    min-height: 500px;
  }

  @include md {
    min-height: 600px;
  }

  @include lg {
    min-height: 800px;
  }

  &__image {
    background-image: url(../assets/images/banner-image.jpg);
    background-size: cover;
    background-position: top center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;

    @include animation(300ms, 250ms, fadeIn, ease, forwards);
  }

  &__inner {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 80px;

    @include md {
      padding-top: 248px;
    }

    @include lg {
      padding-top: 318px;
    }

    h1 {
      font-size: 63px;

      @include sm {
        font-size: 43px;
        line-height: 46px;
      }

      color: #fff;
      line-height: 60px;
      margin-bottom: 30px;
      opacity: 0;

      @include animation(1.25s, 750ms, fadeInSlideUp, ease, forwards);
    }

    .btn {
      opacity: 0;

      @include animation(2s, 750ms, fadeIn, ease, forwards);
    }
  }
}
