.btn {
  font-family: Montserrat, Arial, Verdana, Tahoma, sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  background-color: $teal;
  padding: 20px 68px;
  line-height: 20px;
  position: relative;
  border: 0;
  cursor: pointer;

  &:hover {
    color: #fff;
  }

  &.dark {
    background-color: $darkGrey;
  }

  &.circle-hover {
    z-index: 10;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 50%;
      margin-left: -25px;
      width: 50px;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.3);
      -webkit-border-radius: 50px;
      border-radius: 50px;
      opacity: 0;

      @include transition(all 350ms);
      @include scale(0);
    }

    &:hover {
      &::after {
        opacity: 0.7;

        @include scale(5);
      }
    }
  }
}
