/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.form-element {
  label {
    display: block;
    position: relative;
    color: $teal;
    line-height: 24px;
  }

  input {
    width: 100%;
    display: block;
    padding: 13px 8px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #d4d4d4;
    max-width: 100%;
  }

  textarea {
    width: 100%;
    display: block;
    padding: 13px 8px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #d4d4d4;
    min-height: 120px;
    max-width: 100%;
  }

  margin-bottom: 20px;

  &.centre {
    text-align: center;
  }
}
