h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

header {
  a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
}

.main-container {
  width: 100%;
  position: relative;
  padding-top: 99px;
}

.ed-row {
  padding: calc(#{$rowmargin} / 2) 0;

  &:first-child {
    padding-top: $rowmargin;
  }

  &:last-child {
    padding-bottom: $rowmargin;
  }

  h2 {
    font-size: 31px;
    line-height: 36px;
    color: $teal;
    margin-top: 35px;
    margin-bottom: 11px;
  }

  p {
    line-height: 24px;
  }
}

.box {
  img {
    max-width: 100%;
  }
}

.wrapper {
  box-sizing: border-box;
  max-width: $screen-xl-min;
  margin: 0 auto;
}

.col-xs-offset-2-5 {
  margin-left: 30%;
}

.col-sm-offset-2-5 {
  margin-left: 30%;
}

.col-md-offset-2-5 {
  margin-left: 30%;
}

.col-lg-offset-2-5 {
  margin-left: 30%;
}

.home {
  .page-header {
    display: none;
  }
}
