.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-offset-2-5 {
  margin-left: 30%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-sm-offset-1 {
  margin-left: 8.3333333333%;
}

.col-sm-offset-2 {
  margin-left: 16.6666666667%;
}

.col-sm-offset-2-5 {
  margin-left: 30%;
}

.col-sm-offset-3 {
  margin-left: 25%;
}

.col-sm-offset-4 {
  margin-left: 33.3333333333%;
}

.col-sm-offset-5 {
  margin-left: 41.6666666667%;
}

.col-sm-offset-6 {
  margin-left: 50%;
}

.col-sm-offset-7 {
  margin-left: 58.3333333333%;
}

.col-sm-offset-8 {
  margin-left: 66.6666666667%;
}

.col-sm-offset-9 {
  margin-left: 75%;
}

.col-sm-offset-10 {
  margin-left: 83.3333333333%;
}

.col-sm-offset-11 {
  margin-left: 91.6666666667%;
}

.col-sm-offset-12 {
  margin-left: 100%;
}

.col-md-offset-1 {
  margin-left: 8.3333333333%;
}

.col-md-offset-2 {
  margin-left: 16.6666666667%;
}

.col-md-offset-3 {
  margin-left: 25%;
}

.col-md-offset-2-5 {
  margin-left: 30%;
}

.col-md-offset-4 {
  margin-left: 33.3333333333%;
}

.col-md-offset-5 {
  margin-left: 41.6666666667%;
}

.col-md-offset-6 {
  margin-left: 50%;
}

.col-md-offset-7 {
  margin-left: 58.3333333333%;
}

.col-md-offset-8 {
  margin-left: 66.6666666667%;
}

.col-md-offset-9 {
  margin-left: 75%;
}

.col-md-offset-10 {
  margin-left: 83.3333333333%;
}

.col-md-offset-11 {
  margin-left: 91.6666666667%;
}

.col-md-offset-12 {
  margin-left: 100%;
}
