/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$teal:rgba(0, 144, 147, 1);
$darkGrey:rgba(38, 38, 38, 1);

$screen-sm-min: 300px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$rowmargin:95px;

$theme-colors: (
  primary: $teal
);
