@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Source+Sans+Pro");

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "common/mixins";
@import "common/grid";
@import "components/animations";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/banner";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/mobile-menu";

body {
  padding-top: 95px;
  overflow-x: hidden;
}
